<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../css/home.css">
    
    <title>Cascaritas Home</title>
</head>
<body>
    <header>
        <nav>
            <img src="../static/img/LogoCascaritas.png" alt="Logo">
            <a href="#">Cascaritas</a>
            <ul>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="caja">
            <div class="contenedor-tarjetas">
                <div class="card">
                    <img src="../static/img/almendra-pelada.comun-4-op2_1_.jpg" alt="">
                    <h3>Almendra almendra pelada</h3>
                    <a href="#" target="_blank">Agregar</a>
                </div>
    
                <div class="card">
                    <img src="../static/img/nuez-pelada-mariposa-extra-light.jpg" alt="">
                    <h3>Nuez mariposa extra ligth</h3>
                    <a href="#" target="_blank">Agregar</a>
                </div>
    
                <div class="card">
                    <img src="../static/img/castana-de-caju-cruda.jpg" alt="">
                    <h3>Castaña de caju</h3>
                    <a href="#" target="_blank">Agregar</a>
                </div>
    
                <div class="card">
                    <img src="../static/img/mani-repelado-salado-y-tostado_1_1.jpg" alt="">
                    <h3>Maní tostado con sal</h3>
                    <a href="#" target="_blank">Agregar</a>
                </div>
    
                <div class="card">
                    <img src="../static/img/rsz_mani-repelado-tostado-sin-sal-sin-tacc_1_1.jpg" alt="">
                    <h3>Maní tostado sin sal</h3>
                    <a href="#" target="_blank">Agregar</a>
                </div>
    
                <div class="card">
                    <img src="../static/img/pistacho-con-c_scara-salado-y-tostado-x-300-gr-sin-logo.jpg" alt="">
                    <h3>Pistacho</h3>
                    <a href="#" target="_blank">Agregar</a>
                </div>                                 
            </div> 
        </section> 
    
    
    </main>
    <footer id="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
</body>
</html>