<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../css/home.css">
    <link rel="shortcut icon" href="/static/img/CascaritasLogo__1.png" type="image/x-icon">
    
    <title>Cascaritas Home</title>
    <!--Zona de Favicon-->
    <link rel="Cascaritas icon" href="../static/img/Cascaritasico.ico" type="image/x-icon">

    
 
</head>
<body>
    <header>
        <nav>
            <a href="../index.html"><img src="../static/img/CascaritasLogo__1.png" alt="Logo"></a> 
            <!--<a href="#">Cascaritas</a>-->
            <section id="search" class="">
                <!--Espacio para el formulario de búsqueda-->
                <form action="" method="" class="movie-search">
                    <label for="producto"></label>
                    <input type="text" placeholder="¿Qué estas buscando?" class="input-search" name="producto">
                  <!--  <input type="submit" value="Buscar" class="button-search">-->
                </form>
            </section>
            <ul>
                <li><a href="nosotros.html">Sobre nosotros</a></li>
                <li><a href="home.html">Productos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="caja">
            <div class="contenedor-tarjetas">
                <!--producto1-->
                <div class="card">
                    <img src="../static/img/almendra1.webp" alt="">
                    <h3>Almendra pelada</h3>
                    <input type="submit" value="Agregar" class="button-search">
                    
                </div>
                <!--producto2-->
                <div class="card">
                    <img src="../static/img/nuez mariposa.webp" alt="">
                    <h3>Nuez mariposa extra ligth</h3>
                    <input type="submit" value="Agregar" class="button-search">
                    <!--<a href="#" target="_blank">Agregar</a>-->
                </div>
                <!--producto3-->
                <div class="card">
                    <img src="../static/img/castañascaju.webp" alt="">
                    <h3>Castaña de caju</h3>
                    <input type="submit" value="Agregar" class="button-search">
                    <!--<a href="#" target="_blank">Agregar</a>-->
                </div>
                <!--producto4-->
                <div class="card">
                    <img src="../static/img/maniconsal.webp" alt="">
                    <h3>Maní tostado con sal</h3>
                    <input type="submit" value="Agregar" class="button-search">
                    <!--<a href="#" target="_blank">Agregar</a>-->
                </div>
                <!--producto5-->
                <div class="card">
                    <img src="../static/img/manisinsal.webp" alt="">
                    <h3>Maní tostado sin sal</h3>
                    <input type="submit" value="Agregar" class="button-search">
                    <!--<a href="#" target="_blank">Agregar</a>-->
                </div>
                <!--producto6-->
                <div class="card">
                    <img src="../static/img/pistacho tostado salado.webp" alt="">
                    <h3>Pistacho</h3>
                    <input type="submit" value="Agregar" class="button-search">
                    <!--<a href="#" target="_blank">Agregar</a>-->
                </div>                                                
            </div> 
        </section> 
    
    </main>

    <footer id="footer">
        <a href="">Términos y condiciones</a>
        <a href="">Preguntas Frecuentes</a>
        <a href="">Ayuda</a>
    </footer>
</body>
</html>
