<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../css/home.css">
    <link rel="shortcut icon" href="/static/img/CascaritasLogo__1.png" type="image/x-icon">
    
    <title>Nosotros</title>
</head>
<body>
    <header>
        <nav>
            <img src="../static/img/CascaritasLogo__1.png" alt="Logo">
            <!--<a href="#">Cascaritas</a>-->
            <section id="search" class="">
                <!--Espacio para el formulario de búsqueda-->
                <form action="" method="" class="movie-search">
                    <label for="producto"></label>
                    <input type="text" placeholder="¿Qué estas buscando?" class="input-search" name="producto">
                    <!--  <input type="submit" value="Buscar" class="button-search">-->
                </form>
            </section>
            <ul>
                <li><a href="nosotros.html">Sobre nosotros</a></li>
                <li><a href="home.html">Productos</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    
    <section id="titulo">
        <h1>quienes somos</h1>
    </section>
    
    <section id="quienesSomos">
        <article>
            <h2 id="sibtitulo-1">Quienes somos</h2>
            <img src="../static/img/frutosSecos.jpg" alt="imagen frutos secos" class="foto">
        </article>
        <p class="texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione fugit hic deleniti necessitatibus repellat sit
            voluptatem aut facilis temporibus! Pariatur illum maiores repudiandae aspernatur error  maxime dolore dicta repudiandae exercitationem laboriosam rem
            eligendi! Autem modi illo, ipsam eaque aliquam aut nesciunt quibusdam, assumenda soluta eveniet et</p>
    
    </section>
    
    <section id="PorQueElegirnos">
        <p class="texto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae expedita ipsam iure. Dignissimos officiis eligendi
            suscipit omnis consectetur provident cum perspiciatis, eaque quaerat eos veritatis, sit minus laboriosam unde
           
            incidunt dolorum quae? Numquam dolorem assumenda aut tenetur vero quia natus eum a sequi ullam expedita enim
            itaque
            corporis doloribus libero, sunt modi earum necessitatibus dolore. Dolores.</p>
        <article>
            <h2 id="subtitulo-2">¿Por que elegirnos?</h2>
            <img class="foto" src="../static/img/almendra.webp" alt="imagen frutos secos">
        </article>
    </section>
    
    
    
    <h2 id="noticias">Ultimas noticas</h2>
    <section id="UltimasNoticias">
    
        <article>
            <h3>Lorem impsum</h3><br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quod adipisci delectus eum?
                Perspiciatis cum expedita quasi quisquam! Neque, perferendis cupiditate natus quam ab distinctio totam
                
                odit cumque reiciendis, eum at. Et, alias dolorum. Officiis!</p>
        </article>
        <article>
            <h3>Dolor sit</h3><br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quod adipisci delectus eum?
                hdhfdh 
                ipsam necessitatibus molestias quaerat id, aliquid quasi natus nihil eaque corporis sed odit cumque
                reiciendis,
                eum at. Et, alias dolorum. Officiis!</p>
        </article>
    </section>
</body>
</html>